name: npm-publish

on:
  release:
    types: [created]
  workflow_dispatch:
    inputs:
      package_name:
        description: 'The name of the package to publish'
        required: true

permissions:
  id-token: write

jobs:
  npm-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v2.x

      - name: Extract package name from release title
        if: github.event_name == 'release'
        id: extract-package-name
        run: echo "PACKAGE_NAME=$(echo '${{ github.event.release.name }}' | cut -d ':' -f 1)" >> $GITHUB_ENV

      - name: Set package name from workflow dispatch
        if: github.event_name == 'workflow_dispatch'
        run: echo "PACKAGE_NAME=${{ github.event.inputs.package_name }}" >> $GITHUB_ENV

      - name: echo PACKAGE_NAME
        run: echo $PACKAGE_NAME

      - uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        run: npm ci --ignore-scripts

      - name: Build
        run: npm run build --ws --if-present

      - name: Test
        run: npm run test --w=workspaces/${{ env.PACKAGE_NAME }} --if-present

      - name: Create .npmrc file
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > .npmrc

      - name: Publish to npm
        run: npm publish --w=workspaces/${{ env.PACKAGE_NAME }} --provenance --access public
